<div>
   <form (ngSubmit)="onSubmit()" #form01 [ngFormOptions]="{ updateOn: 'change' }">
   <div class="form-group">
      <label for="fistname">What's your first name?</label>
      <input type="text" class="form-control" id="firstname" required minlength="2" required [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
      <div *ngIf = "firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
         <div *ngIf="firstname.errors.required">Firstname is required</div>
         <div *ngIf="firstname.errors.minlength">Firstname must be at least 4 characters long.</div>
      </div>
   </div>
   <div class="form-group">
      <label for="lastname">What's your last name?</label>
      <input type="text" class="form-control" id="lastname" required minlength="2" required [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
      <div *ngIf = "lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
         <div *ngIf="lastname.errors.required">Lastname is required</div>
         <div *ngIf="lastname.errors.minlength">Lastname must be at least 4 characters long.</div>
      </div>
   </div>
   <button [disabled]="firstname.invalid || lastname.invalid" class="btn btn-success" type=submit>Submit</button>
</form>
<br>
<div>
   <h3 *ngIf="model.firstname && model.lastname">Hello {{model.firstname}} {{ model.lastname }}</h3>
</div>
</div>
